<!--Registro academia -->
<div class= "master-ctn">
  <div class ="educationcenter-container">

  </div>



<div class ="ctn-educacioncenter">
<div class="row d-flex justify-content-center">
      <div class="col-md-4">
        <div class  ="card">
            <h1 class ="login"> Registro de Academia</h1>

            <%= simple_form_for  @educationcenter do |f| %>
              <%= f.input :name %>
              <%= f.input :city %>
              <%= f.input :description, as: :text %>
              <%= f.submit class: "myButton" %>
            <% end %>
            <br>
            <%= link_to "Volver al listado", education_centers_path, class: "myButton" %>
            <br>
            <br>

            <br>

        </div>
      </div>
    </div>
</div>
</div>
