<div class= "container">

  <div class ="main-container">
    <h1 class="login"><%= @educationcenter.name %> </h1><br>
    <h2 class ="login"><%= @educationcenter.city %></h2><br>
    <br>
    <p class ="parrafos"><%= @educationcenter.description %></p><br>
       <%= link_to "Delete",
      education_center_path(@educationcenter),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},class: "button-delete"%>
  </div>

  <h2 class ="login">Carreras</h2>


  <div class="row">
    <div>



     <div class ="ctn-tarjetas1">
      <h2 class="login"> <% @educationcenter.careers.each do |career| %></h2>

             <div class="card">
               <div class="card-body">
                  <div class ="ctn-parrafos">
                  <p class="parrafos"> <%= career.name %></p>
                  <p class="parrafos"> <%= career.description %></p>
                  <p class="parrafos"> <%= career.duration %></p>
                  <p class="parrafos"> <%= career.modality %></p>
                  </div>
                  <DIV class ="card-img-show">
                    <img  src="https://picsum.photos/200" alt="minita en el pc">
                  </DIV>
                 <a href="https://www.lewagon.com/es/web-development-course" class="myButton">Mas información</a>
                 <%= link_to "Eliminar",  career_path(career), data: {turbo_method: :delete, confirm: "Seguro?"} %>

                  </div>
                </div>

    <% end %>
    </div>
  </div>

<div>
   <%= link_to "Add Carrera", new_education_center_career_path(@educationcenter) %>
</div>


      </div>
  <h4 class ="login">Reviews</h4>
  <% @educationcenter.reviews.each do |review| %>
    <li class="list-group-item"><%= review.statement %> Rating: <%= review.rating%>
    <%= link_to "Eliminar",  review_path(review), data: {turbo_method: :delete, confirm: "Seguro?"} %>
    </li>
  <% end %>

  <div class ="btn-review">
    <%= link_to "Add review", new_education_center_review_path(@educationcenter), class: "myButton" %>
  </div>

</div>
</div>
