<<<<<<< HEAD
<<<<<<< HEAD



<div class="row">
    <div class="col-md-4">

    <%= render @education_center.reviews %>

</div>

<div>
   <%= link_to "Add review", new_education_center_review_path(@education_center) %>
</div>
=======
=======
>>>>>>> 507574772a2d0011f74e8bc5019ce819bcab289d
<h2><%= @educationcenter.name %></h2>
<p><%= @educationcenter.city %></p>
<p><%= @educationcenter.description %></p>

<%= link_to "Delete",
  education_center_path(@educationcenter),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<<<<<<< HEAD
>>>>>>> 022a330361822c02fac1c150f1861c7138aca5c4
=======
>>>>>>> 507574772a2d0011f74e8bc5019ce819bcab289d
