




<h2><%= @educationcenter.name %></h2>
<p><%= @educationcenter.city %></p>
<p><%= @educationcenter.description %></p>

<%= link_to "Delete",
  education_center_path(@educationcenter),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary"
%>
<%= link_to "Editar",  edit_education_center_path(@educationcenter) %></li>
<br>
<br>
<h2>Reviews</h2>
<div class="row">
    <div class="col-md-4">

     <% @educationcenter.reviews.each do |review| %>
    <li class="list-group-item"><%= review.statement %> Rating: <%= review.rating%>
    <%= link_to "Eliminar",  review_path(review), data: {turbo_method: :delete, confirm: "Seguro?"} %></li>
  <% end %>

</div>
<div>
   <%= link_to "Add review", new_education_center_review_path(@educationcenter) %>
</div>

<br>
<br>
<%= link_to "Volver al listado", education_centers_path, class: "btn btn-primary" %>
