<div class= "container">

  <div class ="main-container">
    <h1 class="login"><%= @educationcenter.name %> </h1><br>
    <h2 class ="login"><%= @educationcenter.city %></h2><br>
    <br>
    <p class ="parrafos"><%= @educationcenter.description %></p><br>
       <%= link_to "Delete",
      education_center_path(@educationcenter),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},class: "button-delete"%>
  </div>

  <div class ="ctn-tarjetas">

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h2 class="login"> Desarrollo Web</h2>
            <p class="parrafos">Impulsa tu carrera con nuestro curso en Desarrollo web. Aprende a crear aplicaciones web desde cero y consigue el trabajo de tus sueños como desarrollador web con el curso intensivo número uno en el mundo..</p>
            <img height="420" width="500"class ="card-img" src="https://www-img.lewagon.com/UHFwzDxe8Ae8DsOKHT516FORYV5dQ93Fh2haggWCnVE/rs:fill:1000:840/plain/s3://wagon-www/14tm6j8mjp0zyo4vk5h0upq21rrm" alt="minita en el pc">
            <a href="https://www.lewagon.com/es/web-development-course" class="myButton">Mas información</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h2 class="login"> Data Science</h2>
            <p class="parrafos">Da un giro a tu carrera profesional con nuestro curso de Data Science Explora los fundamentos del Data Science y consigue el trabajo de tus sueños con el curso intensivo número uno del mundo..</p>
            <img height="420" width="500"class ="card-img" src="https://www-img.lewagon.com/QG0NV5COlYabLiH5HuWcsd_E805g3vnbzKPfWNOp-b8/rs:fill:1000:840/plain/s3://wagon-www/4sy2d2fdud1g7rx5e8k1l3c2bwii" alt="minito en el pc">

            <a href="https://www.lewagon.com/es/data-science-course#authors" class="myButton">Mas información</a>
          </div>
        </div>
      </div>
    </div>


  </div>
  <h4 class ="login">Reviews</h2>
  <div class="row">
    <div class="col-md-4">

     <% @educationcenter.reviews.each do |review| %>
    <li class="list-group-item"><%= review.statement %> Rating: <%= review.rating%>
    <%= link_to "Eliminar",  review_path(review), data: {turbo_method: :delete, confirm: "Seguro?"} %></li>
  <% end %>

</div>
<div>
   <%= link_to "Add review", new_education_center_review_path(@educationcenter), class: "myButton" %>


</div>
</div>
