  <h1> Registro de Carrera</h1>

  <%= simple_form_for  @career do |f| %>
    <%= f.input :name %>
    <%= f.input :modality %>
    <%= f.input :description, as: :text %>
    <%= f.input :category %>
    <%= f.input :duration %>
    <%= f.submit class: "myButton" %>
  <% end %>
  <br>
  <%= link_to "Return to the main list", careers_path, class: "myButton" %>
