<h2>nombre: <%= @career.name %></h2>
<p><%= @career.description %></p>
<p><%= @career.modality %></p>
<p><%= @career.category %></p>

<%= link_to "Return to main list", careers_path, class: "btn btn-primary" %>
