<h1>New review</h1>

<%= simple_form_for ([@educationcenter, @educationcenter.reviews.build]) do |f| %>
  <%= f.input :rating %>
  <%= f.input :statement %>
  <%# <%= f.submit "Submit review", class: "btn btn-primary" %>
  <%= f.button :submit %>
<% end %>
