<h1 class ="login">Crea una Reseña</h1>

<%= simple_form_for [@educationcenter, @review]  do |f| %>
  <%= f.input :rating, as: :integer %>
  <%= f.input :statement, as: :text %>
  <%= f.submit %>
<% end %>

<%= link_to "Volver a la academia", education_center_path(params[:education_center_id]) %>
